/*RESET CSS*/
html, body, ul, li {padding:0px; margin:0px;}
ul,ol {list-style:none;}
a {text-decoration:none;}
img,fieldset,iframe {border:0;}
img,fieldset,section { border:none; }
hr {display:none;}
/* default */
html, body, #open, .wrap {
    width: 100%;
    height: 100%;
}
/* font */
@font-face{font-family:"Maplestory_Bold"; src:url("../fonts/Maplestory-Light.woff")}
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* animation */
@keyframes arrow{
    0% {transform: translateY(0%);}
    50% {transform: translateY(20%);}
    100% {transform: translateY(0%);}
}

/* open */
#open {
    position: absolute;
    min-width: 1800px;
    min-height: 1000px;
    display: inline-block;
    overflow: hidden;
    z-index: 100;
}
#open img {
    position: absolute;
    width:100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    z-index: 100;
}
#progress {
    opacity: 0;
}

/* container */
.wrap {
    position: relative;
    min-width: 1800px;
    min-height: 1000px;
    background: url(../img/container.png) no-repeat 50% 100%;
    background-size: contain;
    overflow: hidden;
}
/* background */
.wrap:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 850px;
    background:url(../img/background.png) no-repeat;
    background-size: cover;
    transition: all 10s;
    content: "";
}
/* building */
.building {
    position: relative;
    float: right;
    width: 1700px;
    height: 900px;
    top: 30px;
    background: url(../img/building.png) no-repeat 50% 100%;
}
/* entrance */
.entrance {
    position: absolute;
    width: 75px;
    height: 150px;
    bottom: 50px;
    left: 400px;
    text-align: center;
}
.entrance > i{
    font-size: 50px;
    color: red;
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.entrance .click_area{
    display: block;
    width: 75px;
    height: 100px;
    border: 1px dashed white;
    color: white;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: pointer;
}
.entrance .click_area span{
    display: block;
    height: 40px;
    padding-top: 10px;
    font-size: 20px;
}
/* elevator */
.elevator_area {
    position: absolute;
    width: 130px;
    height: 680px;
    margin: 115px 15px 135px 0px;
    right: 0;
}
.floor_door {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 145px;
    background: url(../img/elevator.png) no-repeat;
    background-size: cover;
    opacity: 0;
    transition:all 3s;
}
#floor_door_3{
    top:30px
}
#floor_door_2{
    top:280px
}
#floor_door_1{
    top:530px;
}
.door {
    position: absolute;
    display: inline-block;
    width: 65px;
    height: 145px;
    background:url(../img/door.png) no-repeat;
    background-size: cover;
}
.left_door {
    z-index: 7;
}
.right_door {
    left: 65px;
}
#button_area {
    position:absolute;
    width: 130px;
    height: 90px;
    left:10%;
    top:550px;
    cursor: pointer;
    z-index: 9;
}
.button{
    position:relative;
    width: 130px;
    height: 25px;
    margin-bottom: 5px;
    background-size: contain;
}
#button_3 {
    background: url(../img/button_off_3.png) no-repeat;
}
#button_3:active {
    background: url(../img/button_on_3.png) no-repeat;
}
.button{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}


/* floor */
.floor {
    position: relative;
    width: 1700px;
    height:250px;
    float: right;
    border-radius: 15px;
    opacity: 0;
    transition: all 3s;
    z-index: 8;
}
.on {
    opacity: 1;
}
#floor_3 {
    margin-top: 115px;
}
#floor_1 {
    width: 1220px;
    margin-bottom: 65px;
}
.wall_interior {
    position: relative;
    height:180px;
    background:url(../img/project_area.png);
    background-size: cover;
    background-position: right;
    border-radius: 15px 0px 0px 0px;
    z-index: 8;
}
.project_area {
    display: inline;
    width: 100%;
}
.project {
    float: left;
    box-sizing: border-box;
    border: 2px solid #000;
}
#floor_3 .project:nth-child(1){
    width:122px;
    height:150px;
    margin: 15px 75px 0px 270px;
    background: url(../img/gallery/Gallery_img_1.jpg) no-repeat 50% 50%;
}
#floor_3 .project:nth-child(2){
    width:241px;
    height:150px;
    margin: 15px 75px 0px 50px;
    background: url(../img/gallery/Gallery_img_2.jpg) no-repeat 50% 50%;
}
#floor_3 .project:nth-child(3){
    width:300px;
    height:147px;
    margin: 15px 75px 0px 50px;
    background: url(../img/gallery/Gallery_img_7.jpg) no-repeat 50% 50%;
}
#floor_3 .project:nth-child(4){
    width:118px;
    height: 150px;
    margin: 15px 75px 0px 50px;
    background: url(../img/gallery/Gallery_img_8.jpg) no-repeat 50% 50%;
}
#floor_2 .project:nth-child(1){
    width:191px;
    height:150px;
    margin: 15px 75px 0px 270px;
    background: url(../img/gallery/Gallery_img_4.jpg) no-repeat 50% 50%;
}
#floor_2 .project:nth-child(2){
    width:180px;
    height:150px;
    margin: 15px 75px 0px 50px;
    background: url(../img/gallery/Gallery_img_5.jpg) no-repeat 50% 50%;
}
#floor_2 .project:nth-child(3){
    width:200px;
    height:150px;
    margin: 15px 75px 0px 50px;
    background: url(../img/gallery/Gallery_img_6.jpg) no-repeat 50% 50%;
}
#floor_2 .project:nth-child(4){
    width:125px;
    height: 150px;
    margin: 15px 75px 0px 50px;
    background: url(../img/gallery/Gallery_img_3.jpg) no-repeat 50% 50%;
}
.floor > i{
    position: absolute;
    bottom: 140px;
    right: 155px;
    font-size: 30px;
    color: red;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    z-index: 9;
}
.elevator_sw{
    position: absolute;
    bottom: 120px;
    right: 155px;
    cursor: pointer;
    z-index: 9;
}
.floor_interior {
    position: relative;
    height: 70px;
    background:url(../img/floorinterior.png);
    background-size: cover;
    background-position: right;
    border-radius: 0px 0px 0px 15px;
    z-index: 8;
}

/* people */
.people {
    position: absolute;
    width: 50px;
    height: 120px;
    transition: all 10s;
    z-index: 10;
}
.people_1 {
    width: 100px;
    top: 800px;
    left: 70px;
    background: url(../img/people_2.png) no-repeat;
    background-size: contain;
}
.people_2 {
    top: 830px;
    left: 150px;
    background: url(../img/people_11.png) no-repeat;
    background-size: contain;
}
.people_3 {
    top: 800px;
    left: 250px;
    background: url(../img/people_5.png) no-repeat;
    background-size: contain;
}
.people_4 {
    width: 100px;
    top: 820px;
    left: 450px;
    background: url(../img/people_3.png) no-repeat;
    background-size: contain;
}
.people_5 {
    top: 840px;
    left: 550px;
    background: url(../img/people_18.png) no-repeat;
    background-size: contain;
}
.people_6 {
    bottom: 30px;
    left: 20px;
    background: url(../img/people_6.png) no-repeat;
    background-size: contain;
}
.people_7 {
    bottom: 30px;
    left: 100px;
    background: url(../img/people_15.png) no-repeat;
    background-size: contain;
}
.people_8 {
    bottom: 30px;
    left: 200px;
    background: url(../img/people_8.png) no-repeat;
    background-size: contain;
}
.people_9 {
    bottom: 30px;
    left: 350px;
    background: url(../img/people_1.png) no-repeat;
    background-size: contain;
}
.people_10 {
    bottom: 30px;
    left: 650px;
    background: url(../img/people_13.png) no-repeat;
    background-size: contain;
}
.people_11 {
    bottom: 30px;
    left: 800px;
    background: url(../img/people_14.png) no-repeat;
    background-size: contain;
}
.people_12 {
    bottom: 30px;
    left: 1100px;
    background: url(../img/people_7.png) no-repeat;
    background-size: contain;
}
.people_13 {
    bottom: 30px;
    left: 1400px;
    background: url(../img/people_9.png) no-repeat;
    background-size: contain;
}
.people_14 {
    bottom: 30px;
    left: 70px;
    background: url(../img/people_5.png) no-repeat;
    background-size: contain;
}
.people_15 {
    bottom: 30px;
    left: 200px;
    background: url(../img/people_1.png) no-repeat;
    background-size: contain;
}
.people_16 {
    bottom: 30px;
    left: 250px;
    background: url(../img/people_13.png) no-repeat;
    background-size: contain;
}
.people_17 {
    bottom: 30px;
    left: 500px;
    background: url(../img/people_8.png) no-repeat;
    background-size: contain;
}
.people_18 {
    bottom: 30px;
    left: 600px;
    background: url(../img/people_16.png) no-repeat;
    background-size: contain;
}
.people_19 {
    bottom: 30px;
    left: 900px;
    background: url(../img/people_14.png) no-repeat;
    background-size: contain;
}
.people_20 {
    bottom: 30px;
    left: 1200px;
    background: url(../img/people_9.png) no-repeat;
    background-size: contain;
}

.people_21 {
    bottom: 30px;
    left: 70px;
    background: url(../img/people_9.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}
.people_22 {
    bottom: 30px;
    left: 200px;
    background: url(../img/people_13.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}
.people_23 {
    bottom: 30px;
    left: 250px;
    background: url(../img/people_9.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}
.people_24 {
    bottom: 30px;
    left: 500px;
    background: url(../img/people_8.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}
.people_25 {
    bottom: 30px;
    left: 600px;
    background: url(../img/people_14.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}
.people_26 {
    bottom: 30px;
    left: 900px;
    background: url(../img/people_15.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}


.spec_area {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100%;
    float: left;
}
.spec_area p {
    width: 600px;
    margin: 20px auto 0 auto;
    font-size: 20px;
    font-family:"Maplestory_Bold";
    letter-spacing: 2px;
    text-align: center;
    color: #000;
}